/* Base */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  padding: var(--spacing-s) var(--spacing-m);
  background-color: transparent;
  color: var(--color-text);
  border-radius: var(--border-radius-m);
  text-decoration: none;
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  outline-offset: 3px;
}

.button svg {
  width: var(--font-size-body);
  height: var(--font-size-body);
}

/* Primary */
.button-primary {
  background-color: var(--color-primary);
}

.button-primary:hover {
  background-color: var(--color-primary-hover);
}

.button-primary:active,
.button-primary:focus,
.button-primary:focus-visible {
  background-color: var(--color-primary-active);
}

.button-primary:focus-visible {
  outline: 1px solid var(--color-primary-active);
}

/* Secondary */
.button-secondary {
  border: 1px solid var(--color-border);
}

.button-secondary:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.button-secondary:active,
.button-secondary:focus,
.button-secondary:focus-visible {
  border: 1px solid var(--color-primary-hover);
  color: var(--color-primary-hover);
}

.button-secondary:focus-visible {
  outline: 1px solid var(--color-primary-hover);
}
