.card-title {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 8px auto 1fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0;
}

.card-title::before {
  content: "# ";
}

.card-title::after {
  content: "";
  display: inline-block;
  background-color: var(--color-border);
  height: 1px;
  width: 100%;
}

.card-header {
  font-size: var(--font-size-h5);
}

.card-content {
  padding-top: 1rem;
}

@media (min-width: 577px) {
  .card.card-bordered {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-medium);
    padding: 1rem;
  }

  .card.card-no-border {
    border: 0;
    padding: 0;
  }
}
