.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav-container {
  position: relative;

  width: 100%;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  z-index: 1;

  display: grid;
  grid-template-areas:
    "profile text  setting hamburger"
    "profile media setting hamburger";
  grid-template-columns: auto 1fr 80px 32px;
  column-gap: var(--spacing-s);
  row-gap: var(--spacing-s);
  align-items: center;
  padding: var(--spacing-m);
}

/* Profile */
.nav-profile {
  grid-area: profile;

  width: 64px;
  height: 64px;
}

.nav-profile-image {
  border-radius: var(--border-radius-full);
  border: 2px solid var(--color-border);
  padding: var(--spacing-xs);
}

.nav-profile-image:hover {
  border: 2px solid var(--color-primary-hover);
}

.nav-profile-image:active {
  border: 2px solid var(--color-primary-active);
}

.nav-profile:focus-visible {
  outline: none;
}
.nav-profile:focus-visible .nav-profile-image {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

/* Text */
.nav-text {
  grid-area: text;
  font-family: var(--font-family-heading);
}

.nav-subtitle {
  display: none;
}

/* Media */
.nav-media {
  grid-area: media;
  display: flex;
  gap: var(--spacing-m);
}

.nav-media .button {
  width: 32px;
  height: 32px;

  padding: 0;
}

/* i18n */
.nav-setting {
  grid-area: setting;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: var(--spacing-s);
  padding: 0;
}

.nav-i18n {
  justify-self: center;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  color: var(--color-text);
}

.nav-i18n:hover {
  background-color: var(--color-hover);
}

.nav-i18n:focus,
.nav-i18n:active {
  background-color: var(--color-active);
}

.nav-i18n:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.nav-i18n svg {
  width: 24px;
  height: 24px;
}

.nav-i18n-arrow,
.nav-i18n-text {
  display: none;
}

.nav-i18n-list {
  display: none;
}

/* Theme Switcher */
.nav-theme-container {
  justify-self: center;

  color: var(--color-text);

  display: grid;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline-offset: 3px;

  border-radius: var(--border-radius-m);
}

.nav-theme-container:hover {
  background-color: var(--color-hover);
}

.nav-theme-container:focus,
.nav-theme-container:active {
  background-color: var(--color-active);
}

.nav-theme-container:focus-visible {
  outline: 2px solid var(--color-primary);
}

.sun-icon,
.moon-icon,
.nav-theme-switcher svg {
  width: 24px;
  height: 24px;
}

.sun-icon,
.moon-icon,
.dark .sun-icon,
.light .moon-icon {
  display: none;
}

.dark .moon-icon,
.light .sun-icon {
  display: block;
}

/* List */
.nav-i18n-option-container,
.nav-list {
  grid-area: nav-list;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--color-background);
  overflow: hidden;

  transition: var(--transition-slow);
}

.nav-i18n-option-container.nav-open,
.nav-list.nav-open {
  top: 100%;
}

.nav-i18n-link,
.nav-link {
  display: block;
  width: 100%;
  padding: var(--spacing-m);
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

.nav-i18n-option:last-child .nav-i18n-link,
.nav-item:last-child .nav-link {
  border-bottom: 1px solid var(--color-border);
}

.nav-i18n-link:hover,
.nav-link:hover {
  background-color: var(--color-hover);
}

.nav-i18n-link:focus,
.nav-link:focus,
.nav-i18n-link.active,
.nav-link.active {
  color: var(--color-text);
  background-color: var(--color-active);
}

.nav-i18n-link:focus-visible,
.nav-link:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

.nav-link:has(.nav-item-icon) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}

.nav-item-icon {
  display: block;
}

/* Hamburger */
.nav-hamburger {
  grid-area: hamburger;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--color-text);
  border-radius: var(--border-radius-m);
  cursor: pointer;
}

.nav-hamburger:hover {
  background-color: var(--color-hover);
}

.nav-hamburger:focus,
.nav-hamburger:active {
  background-color: var(--color-active);
}

.nav-hamburger:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

@media (min-width: 577px) {
  .nav {
    position: static;
  }

  .nav-container {
    position: static;
    grid-template-areas: "profile" "text" "media" "setting";
    grid-template-columns: 1fr;
    gap: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 0;
  }

  /* Profile */
  .nav-text,
  .nav-media {
    border-bottom: 1px solid var(--color-border);
  }

  .nav-profile {
    justify-self: center;
    padding: var(--spacing-m) 0 var(--spacing-s) 0;
    height: auto;
  }

  .nav-text {
    text-align: center;
    line-height: 1;
    padding: var(--spacing-s) 0 var(--spacing-m) 0;
  }

  .nav-subtitle {
    display: inline;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
  }

  .nav-media {
    padding: var(--spacing-m);
    justify-content: center;
  }

  .nav-setting {
    gap: var(--spacing-m);
    padding: var(--spacing-m);
    justify-content: center;
    border-bottom: 1px solid var(--color-border);
  }

  /* i18n */
  .nav-i18n {
    border: 1px solid var(--color-border);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    position: relative;
  }

  .nav-i18n:focus-visible {
    outline-offset: -2px;
    border-color: var(--color-primary);
  }

  .nav-i18n-icon {
    display: none;
  }

  .nav-i18n-text {
    display: block;
  }

  .nav-i18n-list {
    list-style-type: none;
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 1;
    background-color: var(--color-background);
    border-radius: var(--border-radius-m);
    display: none;
    text-transform: capitalize;

    transition: var(--transition-default);
  }

  .nav-i18n-list.nav-open {
    display: block;
  }

  .nav-i18n-link:hover {
    background-color: var(--color-hover);
  }

  .nav-i18n-link:focus,
  .nav-i18n-link:active {
    background-color: var(--color-active);
  }

  .nav-i18n-link:focus-visible {
    border: none;
  }

  .nav-i18n-item:first-child .nav-i18n-link {
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
    border-top: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
  }

  .nav-18n-link {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
  }

  .nav-i18n-item:last-child .nav-i18n-link {
    border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  /* Theme Switcher */
  .nav-theme-container {
    border: 1px solid var(--color-border);
  }

  .nav-theme-container:focus-visible {
    outline-offset: -2px;
    border-color: var(--color-primary);
  }

  /* Hamburger */
  .nav-hamburger {
    display: none;
  }

  .nav-list,
  .nav-list.nav-open {
    position: sticky;
    top: 0;
    background-color: transparent;
  }

  .nav-i18n-option:last-child .nav-i18n-link,
  .nav-item:last-child .nav-link {
    border-bottom: none;
  }
}
