@import '../theme.css';

.nav {
	padding: 0;
	max-width: 100%;
	border: 1px solid var(--color-border);
	color: var(--color-text);
}

.nav-header {
	text-align: center;
	padding: var(--spacing-medium);
}

.profile-image {
	width: 64px;
	height: 64px;
	border-radius: var(--border-radius-full);
	margin: 0 auto;
}

.nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.nav li {
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius-small);
	transition: var(--transition-default);
}

.nav li:hover {
	background-color: var(--color-hover);
	cursor: pointer;
}

.nav a {
	text-decoration: none;
	color: var(--color-text);
	font-weight: var(--font-weight-medium);
	text-align: center;
}

@media (min-width: 769px) {
	.nav {
		width: 128px;
		border-right: 0;
	}
	
	.nav-header {
		margin-bottom: 2rem;
		border-bottom: 1px solid var(--color-border);
	}
	
	.nav ul {
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--color-border);
	}
}

@media (max-width: 768px) {
	.nav {
		position: relative;
		height: auto;
		width: 100%;
		border: 0px;
	}
	
	.nav-header {
		text-align: center;
	}
	
	.nav ul {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: center;
		padding: 1rem;
	}
	
	.nav a {
		width: auto;
		text-align: center;
		border: none;
		padding: 0.5rem 1rem;
	}
}
