.pill-container {
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap;
}

.pill-container.padded {
  padding: 1rem 0;
}

.pill-item {
  font-size: var(--font-size-small);
  padding: var(--spacing-s);
  background-color: var(--color-hover);
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius-m);
}
