.timeline-container {
  display: grid;
  gap: var(--spacing-m);
}

.timeline-link {
  color: var(--color-text);
  text-decoration: none;
}

.timeline-link:active,
.timeline-link:focus,
.timeline-link:focus-visible {
  outline: none;
  color: var(--color-text);
}

.timeline-item {
  border-left: 1px solid var(--color-border);
  padding: var(--spacing-s) var(--spacing-m);
  cursor: pointer;
}

.timeline-item:hover {
  background-color: var(--color-hover);
}

.timeline-item:focus-visible {
  outline-offset: -2px;
  outline: 2px solid var(--color-primary);
}

.timeline-header {
  display: grid;
  grid-template-areas:
    "title    icon"
    "subtitle icon";
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
}

.timeline-title {
  grid-area: title;
}

.timeline-subtitle {
  grid-area: subtitle;
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
}

.timeline-description {
  font-size: var(--font-size-small);
}

.timeline-description,
.timeline-point-container {
  max-height: 0px;
  margin: 0;
  overflow: hidden;
  transition: var(--transition-default);
}

.timeline-description.visible {
  max-height: 1000px;
  margin-top: 8px;
}

.timeline-description.visible .timeline-point-container {
  max-height: 1000px;
}

.timeline-point-container {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: var(--spacing-s);
}

.timeline-arrow {
  grid-area: icon;
  border: solid var(--color-text);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  transition: var(--transition-default);
}

.timeline-icon {
  grid-area: icon;
}

.timeline-header:has(+ .timeline-description.visible) .timeline-arrow {
  transform: rotate(-135deg);
}
