.content-container {
  display: grid;
  align-items: baseline;
  gap: var(--spacing-m);
}

.links {
  display: grid;
  gap: var(--spacing-m);
}

.button-container {
  display: flex;
  gap: var(--spacing-m);
  flex-wrap: wrap;
}
