.content-container {
    display: grid;
    align-items: baseline;
}

.quick-link-title {
    font-size: var(--font-size-smaller);
}

.card:nth-child(2) {
    order: 2;
}

@media (min-width: 577px) {
    .content-container {
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .card:first-child {
        grid-column: span 2;
    }

    .card:nth-child(2) {
        order: inherit;
    }
}