@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap');
@import './theme.css';

* {
	font-family: var(--font-family);
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--font-weight-bold);
	margin: var(--spacing-medium) 0;
}

p {
	font-weight: var(--font-weight-regular);
	line-height: 1.6;
	margin: var(--spacing-medium) 0;
	text-align: justify;
}

article {
	margin-top: var(--spacing-large);
}

section {
	margin-top: var(--spacing-large);
}

ul {
	list-style-position: inside;
	padding-left: var(--spacing-medium);
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-background);
}
