---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import "@/styles/pages/index.css";
import GithubIcon from "@/assets/svg/github.svg";
import LinkedInIcon from "@/assets/svg/linkedin.svg";
import EmailIcon from "@/assets/svg/email.svg";
---

<Layout>
  <Card title="Tentang Saya" header="Halo, nama saya Yanuar">
    <p>
      Saya adalah full-stack web developer asal Bandung dengan pengalaman
      <strong class="bold">lebih dari 2 tahun</strong>
      dalam membangun solusi web. Saya terbiasa mengerjakan antarmuka front-end yang
      responsif sekaligus sistem back-end yang efisien dan terstruktur.
    </p>

    <p>
      Selama ini, saya telah terlibat dalam berbagai proyek seperti platform
      e-commerce, chatbot interaktif, dan aplikasi internal perusahaan. Fokus
      saya adalah menciptakan sistem yang fungsional, skalabel, dan mudah
      dirawat.
    </p>

    <p>
      Saya senang mempelajari teknologi baru dan menerapkannya untuk
      menyelesaikan tantangan nyata. Jangan ragu untuk menghubungi saya jika
      Anda tertarik untuk berkolaborasi.
    </p>
  </Card>

  <Card title="Tautan Penting">
    <div class="links">
      <div class="button-container">
        <a
          href="https://github.com/YanuarWanda"
          target="_blank"
          rel="noopener noreferrer"
          class="button button-secondary"
          aria-label="Visit Yanuar Wanda's GitHub profile"
        >
          <GithubIcon />
          GitHub
        </a>
        <a
          href="https://linkedin.com/in/yanuar-wanda"
          target="_blank"
          rel="noopener noreferrer"
          class="button button-secondary"
          aria-label="Visit Yanuar Wanda's LinkedIn profile"
        >
          <LinkedInIcon />
          LinkedIn
        </a>
        <a
          href="mailto:yanuar.wanda2@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="button button-secondary"
          aria-label="Send an email to Yanuar Wanda"
        >
          <EmailIcon />
          Email
        </a>
      </div>
      <div class="button-container">
        <a class="button button-secondary" href="/id/projects"
          >Lihat proyek saya</a
        >
        <a class="button button-primary" href="/id/about">Baca selengkapnya</a>
      </div>
    </div>
  </Card>
</Layout>
