---
import { experiences } from "../data/experiences";
import { educations } from "../data/educations";
import { skills } from "../data/skills";
import Card from "../components/Card.astro";
import Layout, { type Breadcrumb } from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import "../styles/pages/about.css";

const breadcrumb: Breadcrumb[] = [
  {
    text: "about",
  },
];
---

<Layout page={breadcrumb} title="About Me">
  <Card title="About Me">
    <p class="m-0">
      I’m a web developer with over <strong class="bold"
        >2 years of experience</strong
      > building end-to-end web solutions using modern technologies like React, Laravel,
      and .NET. I enjoy turning ideas into polished, interactive experiences that
      not only look great but work smoothly across devices.
    </p>
    <p>
      I'm based in Bandung, Indonesia, and began my professional journey at
      Radya Labs Teknologi (now Radya Digital) where I started as a Web &
      Chatbot Developer intern in August 2021. I was then offered a part-time
      Web Developer role, which lasted until November 2022, and continued on as
      a full-time Web Developer for another year. During my time there, I worked
      on various real-world projects across e-commerce, chatbots, and internal
      tools.
    </p>
    <p>
      I’m passionate about learning new technologies and solving real-world
      problems through code. Whether it’s experimenting with a new framework,
      improving UI/UX, or finding ways to make systems run more efficiently, I’m
      always excited to explore, build, and grow.
    </p>
  </Card>

  <Card title="Experiences">
    <Timeline timelineItems={experiences} />
  </Card>

  <Card title="Educations">
    <Timeline timelineItems={educations} />
  </Card>

  <Card title="Skills & Tech">
    <div class="pill-container">
      {skills.map((skill) => <div class="pill-item">{skill}</div>)}
    </div>
  </Card>
</Layout>
