---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/pages/index.css";
import GithubIcon from "../assets/svg/github.svg";
import LinkedInIcon from "../assets/svg/linkedin.svg";
import EmailIcon from "../assets/svg/email.svg";
---

<Layout>
  <Card title="About Me" header="Hello I'm Yanuar">
    <p>
      I'm a full-stack web developer based in Bandung, Indonesia, with
      <strong class="bold">over 2 years of experience</strong> delivering end-to-end
      web solutions.
    </p>

    <p>
      I work across the stack—from creating intuitive front-end interfaces to
      building robust back-end systems, and contributing to projects like
      e-commerce, chatbots, and internal tools. My passion lies in building
      scalable, maintainable systems and constantly exploring new technologies
      to solve real-world problems.
    </p>

    <p>
      If you’re interested in working together or just want to connect, feel
      free to reach out—I’d love to hear from you.
    </p>
  </Card>

  <Card title="Quick Links">
    <div class="button-container m-0">
      <a
        href="https://github.com/YanuarWanda"
        target="_blank"
        rel="noopener noreferrer"
        class="button"
      >
        <GithubIcon />
        GitHub
      </a>
      <a
        href="https://linkedin.com/in/yanuar-wanda"
        target="_blank"
        rel="noopener noreferrer"
        class="button"
      >
        <LinkedInIcon />
        LinkedIn
      </a>
      <a href="mailto:yanuar.wanda2@gmail.com" class="button">
        <EmailIcon />
        Email
      </a>
    </div>
    <div class="button-container">
      <a class="button" href="/projects">See what i built</a>
      <a class="button button-primary" href="/about">Read more</a>
    </div>
  </Card>
</Layout>
