---
import Layout from '../layouts/Layout.astro'
import '../styles/components/button.css'
---

<Layout>
	<h1>Hello, I'm Yanuar</h1>
	<p>I specialize in building clean, responsive, and accessible front-end solutions that solve real-world problems and perform beautifully across devices.</p>

	<div class="button-container">
		<a class="button" href="/about">Read more about me</a>
		<a class="button" href="/projects">See what i built</a>
	</div>
</Layout>