---
import "../styles/components/card.css";
import { type CardProps } from "../types";

const { title, header, type = "no-border" } = Astro.props as CardProps;
---

<div class=`card card-${type}`>
    <h1 class="card-title">{title}</h1>
    <div class="card-content">
        {header ? <h2 class="card-header">{header}</h2> : null}
        <slot />
    </div>
</div>
