---
import "@/styles/components/footer.css";
import { getLangFromUrl, useTranslations } from "@/utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <p>
    © 2025 Yanuar Wanda. {t("footer.built")}
    <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Go to Astro website"
    >
      Astro</a
    >.
  </p>
</footer>
