---
import { Image } from "astro:assets";
import profileImage from "../assets/images/profile.jpg";
import "../styles/components/navigation.css";
import type { NavigationItem } from "../types";
import { NAVIGATION_ITEMS } from "../data/navigation";
import GithubIcon from "../assets/svg/github.svg";
import LinkedInIcon from "../assets/svg/linkedin.svg";
import EmailIcon from "../assets/svg/email.svg";
import HamburgerIcon from "../assets/svg/hamburger.svg";

const { navItems = NAVIGATION_ITEMS } = Astro.props as {
  navItems?: NavigationItem[];
};

const currentPath = Astro.url.pathname;

import { isActive } from "../utils/navigation";
---

<nav class="nav" role="navigation" aria-label="Main navigation">
  <div class="nav-header">
    <div class="nav-data">
      <a href="/" class="profile-image-container">
        <Image
          src={profileImage}
          alt="Profile picture of Yanuar Wanda"
          class="profile-image"
          loading="lazy"
          width="64"
          height="64"
        />
      </a>

      <div class="nav-texts">
        <h1 class="nav-title">Yanuar Wanda</h1>
        <h2 class="nav-subtitle">Web Developer</h2>
      </div>

      <div class="nav-medias">
        <a
          href="https://github.com/YanuarWanda"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
          aria-label="Visit Yanuar Wanda's GitHub profile"
        >
          <GithubIcon />
        </a>
        <a
          href="https://www.linkedin.com/in/yanuar-wanda/"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
          aria-label="Visit Yanuar Wanda's LinkedIn profile"
        >
          <LinkedInIcon />
        </a>
        <a
          href="mailto:yanuar.wanda2@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="button"
          aria-label="Send an email to Yanuar Wanda"
        >
          <EmailIcon />
        </a>
      </div>
    </div>

    <div class="nav-hamburger">
      <button
        class="hamburger-button"
        aria-expanded="false"
        aria-label="Toggle navigation menu"
      >
        <HamburgerIcon />
      </button>
    </div>
  </div>

  <ul role="list" class="nav-list">
    {
      navItems.map((item) => (
        <li role="listitem">
          <a
            href={item.href}
            class={`nav-link ${isActive(item.href, currentPath) ? "active" : ""}`}
            aria-label={`Go to ${item.text} section`}
            aria-current={isActive(item.href, currentPath) ? "page" : undefined}
            target={item.toNewTab ? "_blank" : ""}
          >
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  const hamburgerButton = document.querySelector(".hamburger-button");
  const navList = document.querySelector(".nav-list");

  if (hamburgerButton && navList) {
    hamburgerButton.addEventListener("click", () => {
      navList.classList.toggle("nav-open");
      const isExpanded = navList.classList.contains("nav-open");
      hamburgerButton.setAttribute("aria-expanded", isExpanded.toString());
    });
  }

  window.addEventListener("click", (event: MouseEvent) => {
    if (
      navList &&
      !hamburgerButton?.contains(event.target as Node) &&
      !navList?.contains(event.target as Node)
    ) {
      navList.classList.remove("nav-open");
      if (hamburgerButton) {
        hamburgerButton.setAttribute("aria-expanded", "false");
      }
    }
  });
</script>
