---
import { type TimelineProps } from "@/types";
import ExternalLinkIcon from "@/assets/svg/external-link.svg";
import { getLangFromUrl, useTranslationsFrom } from "@/utils/i18n";

const {
  title,
  subtitle,
  description = {},
  points = [],
  url,
} = Astro.props as TimelineProps;

const lang = getLangFromUrl(Astro.url);
const t = useTranslationsFrom(lang);

const isExpandable = t(description) || points.length > 0;
---

<div class="timeline-item">
  <div class="timeline-header">
    <h2 class="timeline-title">{t(title)}</h2>
    <h3 class="timeline-subtitle">{t(subtitle)}</h3>
    {isExpandable && <i class="timeline-arrow" />}
    {url && <ExternalLinkIcon class="timeline-icon" />}
  </div>
  {
    isExpandable && (
      <div class="timeline-description">
        {t(description)}

        <ul class="timeline-point-container">
          {points.map((point) => (
            <li class="timeline-point">{t(point)}</li>
          ))}
        </ul>
      </div>
    )
  }
</div>
