---
import Layout, { type Breadcrumb } from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import ImageGallery, {
  type GalleryImage,
} from "@/components/ImageGallery.astro";
import screenshot1 from "@/assets/images/auctioneer-1.png";
import screenshot2 from "@/assets/images/auctioneer-2.png";
import screenshot3 from "@/assets/images/auctioneer-3.png";
import "@/styles/pages/projects.css";

const breadcrumb: Breadcrumb[] = [
  {
    text: "proyek",
    url: "/projects",
  },
  {
    text: "auctioneer",
  },
];

const images: GalleryImage[] = [
  {
    src: screenshot1,
    alt: "Tangkapan layar halaman login Auctioneer",
  },
  {
    src: screenshot2,
    alt: "Tangkapan layar halaman utama Auctioneer",
  },
  {
    src: screenshot3,
    alt: "Tangkapan layar halaman item Auctioneer",
  },
];
---

<Layout page={breadcrumb} title="Auctioneer">
  <h1 class="project-title">Auctioneer</h1>
  <ImageGallery images={images} />
  <p class="m-0">Platform otomatisasi dokumen untuk surat penawaran proyek</p>

  <Card title="Permasalahan">
    <p class="m-0">
      Klien menghadapi tugas yang berulang dan memakan waktu saat membuat surat
      penawaran tender formal untuk setiap proyek. Surat-surat ini sering kali
      terdiri dari beberapa halaman dan membutuhkan format yang sangat ketat.
      Pembuatan manual bisa memakan waktu berhari-hari, serta berisiko terjadi
      kesalahan manusia dan inkonsistensi.
    </p>
  </Card>

  <Card title="Solusi">
    <p class="m-0">
      Sebuah aplikasi web khusus yang mengelola data proyek perusahaan dan
      secara otomatis menghasilkan surat penawaran dalam format Microsoft Word
      dan PDF. Sistem ini menggunakan template yang sudah ditentukan dan
      mengisinya secara dinamis dengan data proyek yang diperlukan.
    </p>
  </Card>

  <Card title="Hasil">
    <p class="m-0">
      Aplikasi ini mengurangi waktu pembuatan surat penawaran dari beberapa hari
      menjadi hanya beberapa jam, memastikan konsistensi dengan template, dan
      secara signifikan meminimalkan kesalahan format.
    </p>
  </Card>

  <Card title="Teknis">
    <ul class="list-indented">
      <li>
        Teknologi yang Digunakan
        <ul class="list-indented">
          <li>
            <a
              href="https://vuejs.org/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to Vue website">Vue 3</a
            >
          </li>
          <li>
            <a
              href="https://laravel.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to Laravel website">Laravel</a
            >
          </li>
          <li>
            <a
              href="https://www.mysql.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to MySQL website">MySQL</a
            >
          </li>
        </ul>
      </li>
      <li>
        Alat Utama
        <ul class="list-indented">
          <li>
            <a
              href="https://github.com/guigrpa/docx-templates"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to docx-templates github page">docx-templates</a
            > untuk pembuatan dokumen Word
          </li>
          <li>
            <a
              href="https://github.com/spatie/browsershot"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to browsershot github page"
            >
              browsershot
            </a>
            untuk menghasilkan PDF melalui headless Chrome
          </li>
        </ul>
      </li>
      <li>
        Fitur yang Diimplementasikan
        <ul class="list-indented">
          <li>
            Dashboard admin untuk mengelola proyek perusahaan dan template
            surat.
          </li>
          <li>
            Pembuatan dokumen berbasis template dengan dukungan font kustom,
            header/footer dinamis, dan penyisipan gambar.
          </li>
        </ul>
      </li>
    </ul>
  </Card>
</Layout>
