---
import Layout, { type Breadcrumb } from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import ImageGallery, {
  type GalleryImage,
} from "@/components/ImageGallery.astro";
import screenshot1 from "@/assets/images/ebast-1.png";
import screenshot2 from "@/assets/images/ebast-2.png";
import "@/styles/pages/projects.css";

const breadcrumb: Breadcrumb[] = [
  {
    text: "proyek",
    url: "/projects",
  },
  {
    text: "ebast",
  },
];

const images: GalleryImage[] = [
  {
    src: screenshot1,
    alt: "Tangkapan layar halaman login eBast",
  },
  {
    src: screenshot2,
    alt: "Tangkapan layar halaman utama eBast",
  },
];
---

<Layout page={breadcrumb} title="eBAST">
  <h1 class="project-title">eBAST</h1>
  <ImageGallery images={images} />
  <p class="m-0">Platform untuk membuat laporan serah terima proyek (BAST)</p>

  <Card title="Permasalahan">
    <p class="m-0">
      Setelah proyek selesai, tim harus menyusun laporan besar secara manual
      yang berisi data dan banyak gambar ke dalam dokumen Word yang terformat.
      Proses ini memakan waktu dan sering terjadi kesalahan format, terutama
      saat menangani data dalam jumlah besar dan ukuran gambar yang tidak
      konsisten.
    </p>
  </Card>

  <Card title="Solusi">
    <p class="m-0">
      Aplikasi web untuk mempermudah pembuatan laporan. Pengguna dapat
      memasukkan data proyek dan mengunggah gambar, yang kemudian akan
      dikompilasi menjadi dokumen laporan serah terima (BAST) yang terstruktur.
    </p>
  </Card>

  <Card title="Hasil">
    <p class="m-0">
      Sistem ini memangkas waktu pembuatan laporan dari beberapa hari menjadi
      hanya beberapa jam, dengan hasil yang konsisten sesuai template yang
      dibutuhkan dan jauh lebih minim kesalahan manual.
    </p>
  </Card>

  <Card title="Teknis">
    <ul class="list-indented">
      <li>
        Teknologi yang Digunakan
        <ul class="list-indented">
          <li>
            <a
              href="https://laravel.com/docs/12.x/blade"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to Laravel Blade documentation website"
              >Laravel Blade</a
            >
          </li>
          <li>
            <a
              href="https://laravel.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to Laravel website">Laravel</a
            >
          </li>
          <li>
            <a
              href="https://www.mysql.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to MySQL website">MySQL</a
            >
          </li>
        </ul>
      </li>
      <li>
        Alat Utama
        <ul class="list-indented">
          <li>
            <a
              href="https://github.com/guigrpa/docx-templates"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to docx-templates github page">docx-templates</a
            > untuk pembuatan dokumen Word
          </li>
          <li>
            <a
              href="https://github.com/fengyuanchen/cropperjs"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to cropperjs github page">cropperjs</a
            > untuk menjaga rasio aspek gambar tetap konsisten
          </li>
          <li>
            <a
              href="https://github.com/spatie/image-optimizer"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Go to image-optimizer github page">Image optimizer</a
            > untuk memperkecil ukuran file dan mempercepat pembuatan laporan
          </li>
        </ul>
      </li>
      <li>
        Fitur yang Diimplementasikan
        <ul class="list-indented">
          <li>
            Dashboard admin untuk mengelola data perusahaan dan template surat.
          </li>
          <li>Pemotongan dan kompresi gambar sebelum diunggah</li>
          <li>
            Pembuatan dokumen Word dinamis dengan gaya dan struktur yang
            konsisten
          </li>
        </ul>
      </li>
    </ul>
  </Card>
</Layout>
